/* font for the body */
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
/* content head */
h1{
    font-size: 50px;
}
.name-color{
    color:#28BAE5;
}
/* top banner */
/* content sub-head */
h3{
    font-size: 30px;
}
section{
    display: flex;    
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
p{
    font-weight: 600;
    color: dimgray;
    margin-bottom: 50px;
}
.link-button{
    text-decoration: none;
    color: rgb(10, 255, 255);
    font-weight: 700;
    background-image: linear-gradient(#f88466,#fb6856);
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
}
.half-width{
    width: 50%;
    padding:2%;
}
.half-width img{
    width: 100%;
}
/* dream big */
.centering-dream-info{
    padding-top: 150px;
}
h2{
    font-size: 40px;
}
#full-stack-dev{
    box-shadow: 10px 10px gray;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    border-left: 15px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
    border-radius: 15px;
}
#baby-web-dev{
    box-shadow: 10px 10px gray;
    
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    border-left: 15px solid;    
    border-image: linear-gradient(cyan,blue);
    border-image-slice: 1;
    border-radius: 15px;
}
footer{
    text-align: center;
}